body {
  padding: 30px 0 0 0;
}

*:focus {
  outline: none
}

.meter-component {
  width: 300px;
  height: 500px;
  margin: 0 auto;
}

.meter-component__title {
  margin: 0;
  text-align: center;
  border: 1px solid black;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.diagram {
  height: 300px;
  position: relative;
  box-sizing: border-box;
}

.diagram__outer-circle {
  width: 100%;
  height: 100%;
  border: black dashed 1px;
  border-radius: 50%;
  position: absolute;
  box-sizing: border-box;
}

.diagram__outer-title {
  margin: auto;
  text-align: center;
  border: 1px black solid;
  position: absolute;
  left: 0;
  right: 0;
  top: -15px;
  background-color: white;
  box-sizing: border-box;
  height: 30px;
  width: 60px;
  line-height: 30px;
}

.diagram__inner-circle {
  width: 150px;
  height: 150px;
  border: black solid 1px;
  border-radius: 50%;
  position: absolute;
  margin: auto;
  bottom: -1px;
  right: 0;
  left: -1px;
  background-color: limegreen;
  box-sizing: border-box;
}

.diagram__inner-title {
    margin: auto;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    border: black solid 1px;
    height: 30px;
    width: 60px;
    line-height: 30px;
}

.form {
    text-align: center;
    padding: 10px 0 0 0;
}

.form_button {
    border-radius: 50%;
    background: white;
    width: 50px;
    height: 50px;
}

.form_button:hover {
    cursor: pointer;
}

.form_button-small {
}

.form_button-medium {
}

.form_button-big {
    