html {
    height: 100vh;
    background: #d6dadc;
}

body {
  font-family: $font;
  color: $percentage-color;
  margin: 0;
}

*:focus {
  outline: none
}

.meter-component {
  background: $component-background;
  width: #{$component-width}px;
  height: #{$component-height}px;
  margin: calc((97vh - #{$component-height}px)/2) auto;
  padding-top: 15px;
  border-radius: 15px;
  box-shadow: $shadow;
}

.trapezoid {
  background-color: $component-background;
  position: absolute;
  margin-top: 218px;
  margin-left: 80px;
  border-bottom: 32px solid $component-background;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  height: 0;
  width: 61px;
  background: none;
  p {
    font-size: 10px;
    text-align: center;
    margin: 0;
  }
}

.title-container {
  width: $title-container-width;
  height: $title-container-height;
  box-shadow: $shadow inset;
  background-color: $circle-background;
  margin: 0px auto 10px;
  padding-top: ($title-container-height - $title-container__insert-height);
  border-radius: 20px;
}

.title-container__insert {
  width: $title-container__insert-width;
  height: $title-container__insert-height;
  box-shadow: $shadow;
  margin-left: ($title-container-width - $title-container__insert-width)/2;
  background-color: $component-background;
  border-radius: 13px;
}

.title-container__title {
  line-height: 60px;
  text-align: center;
  margin: 0;
  text-transform: uppercase;
  font-size: 23px;
}

.form {
  text-align: center;
  padding: 10px 0 0 0;
}

.form_button {
  color: $percentage-color;
  font-weight: bold;
  border: none;
  border-radius: 50%;
  background: $circle-background;
  width: $button-size;
  height: $button-size;
  box-shadow: $shadow inset;
  padding: 0;
}

.form_button:hover {
  cursor: pointer;
}

.form_button_insert {
  background-color: $component-background;
  border-radius: 50%;
  width: $button-insert-size;
  height: $button-insert-size;
  line-height: $button-insert-size;
  margin-left: ($button-size - $button-insert-size)/2;
  box-shadow: $shadow;
  transition: box-shadow 0.2s;
}

.form_button_insert:active {
  box-shadow: none;
}
