.radial-progress {
  background-color: $circle-background;
  width: $circle-size;
  height: $circle-size;
  border-radius: 50%;
  margin: 0 auto;
  .circle {
    .mask.full {
      transition: transform $transition-length;
    }
    .mask.half {
      transform: rotate(#{$initial-rotation}deg);
    }
    .mask {
      width: $circle-size;
      height: $circle-size;
      position: absolute;
      // clip: rect(0px, $circle-size, $circle-size, $circle-size/2);
      clip: rect(0px, $circle-size/2, $circle-size, 0px);
      .fill {
        background-color: $circle-color;
        width: $circle-size;
        height: $circle-size;
        border-radius: 50%;
        transition: transform $transition-length;
        position: absolute;
        // clip: rect(0px, $circle-size/2, $circle-size, 0px);
        clip: rect(0px, $circle-size, $circle-size, $circle-size/2);
        // clip: rect(0px, 250px, 250px, 125px);
      }
    }
    .shadow {
      width: $circle-size;
      height: $circle-size;
      position: absolute;
      border-radius: 50%;
      box-shadow: $shadow inset;
    }
  }
  .inset {
    width: $inset-size;
    height: $inset-size;
    position: absolute;
    margin-left: ($circle-size - $inset-size)/2;
    margin-top: ($circle-size - $inset-size)/2;
    background-color: $component-background;
    border-radius: 50%;
    box-shadow: $shadow;
    .percentage {
      height: $percentage-font-size;
      transition: width $transition-length;
      width: $percentage-text-width;
      position: absolute;
      top: ($inset-size - $percentage-font-size) / 2;
      left: ($inset-size - $percentage-text-width) / 2;
      line-height: 1;
      text-align: left;
      color: $percentage-color;
      font-weight: 800;
      font-size: $percentage-font-size;
      overflow: hidden;
      .numbers {
        margin-top: -$percentage-font-size;
        transition: width $transition-length;
        span {
          width: $percentage-text-width;
          display: inline-block;
          vertical-align: top;
          text-align: center;
        }
      }
    }
  }
}

$i: 0;
$increment: (180deg - $gap/2) / 100;
@while $i <= 100 {
  .radial-progress[data-progress="#{$i}"] {
    .circle {
      .fill {
        -webkit-transform: rotate($increment * $i);
        -ms-transform: rotate($increment * $i);
        transform: rotate($increment * $i);
      }
      .mask.full {
        -webkit-transform: rotate(($increment * $i) + $initial-rotation);
        -ms-transform: rotate(($increment * $i) + $initial-rotation);
        transform: rotate(($increment * $i) + $initial-rotation);
      }
    }
    .inset .percentage .numbers {
      width: ($i*$percentage-text-width + $percentage-text-width) + 10;
    }
  }
  $i: $i + 1;
}
