$main-black: #222222;
$neon-green: #18DD00;
$neon-yellow: #E1C829;
$neon-blue: #2FB5F3;
$neon-pink: #FC82C3;

$text-white: #fff;
$line-grey: #9c9c9c;

$board-width: 390px;
$button-height: 30px;

$font-size: 16px;

.board__box {
  width: $board-width;
  height: $board-width;
  margin: 0 auto;
}

.board__cell {
    float: left;
    width: $board-width / 3;
    height: $board-width / 3;
    box-sizing: border-box;
    line-height: $board-width / 3;
    text-align: center;
    font-weight: bold;
}

.board__cell--3, .board__cell--4, .board__cell--5 {
    border-top: 1px solid $line-grey;
    border-bottom: 1px solid $line-grey;
}

.board__cell--1, .board__cell--4, .board__cell--7 {
    border-left: 1px solid $line-grey;
    border-right: 1px solid $line-grey;
}
