<div class="landing-page">
  <div class="player-markers clearfix">
    <h1 class="player-markers__marker player-markers__marker--x">X</h1>
    <h1 class="player-markers__marker player-markers__marker--o">o</h1>
  </div>
  <h2 class="landing-page__title">Tic Tac Toe</h2>
  <div class="enter">
    <h3 class="enter__button"><i class="fa fa-play" aria-hidden="true"></i></h3>
    <i class="fa fa-long-arrow-up enter__arrow" aria-hidden="true"></i>
    <p class="enter__text">Click to play</p>
  </div>
</div>
<h3>The Board is here</h3>
