$neon-green: #18DD00;
$neon-pink: #FC82C3;
$button-height: 30px;

.landing-page {
  padding: 80px 0;
  text-align: center;
}

.player-markers {
  width: 200px;
  margin: 0 auto;
}

.player-markers__marker {
  float: left;
  width: 100px;
  height: 100px;
  line-height: 100px;
  box-sizing: border-box;
  margin: 20px 0;
}

.player-markers__marker--x {
  border: 0px solid $neon-green;
  background-image: repeating-linear-gradient(315deg, transparent, transparent 2px, $neon-green 2px, $neon-green 4px);
}

.player-markers__marker--o {
  border: 0px solid $neon-pink;
  background-image: repeating-linear-gradient(315deg, transparent, transparent 2px, $neon-pink 2px, $neon-pink 4px);
}

.landing-page__title {
  margin: 0 0 20px 0;
}

.enter {}

.enter__button {
  background-image: repeating-linear-gradient(315deg,transparent,transparent 2px,#4a4a4a 2px,#4a4a4a 4px);
  width: 100px;
  margin: 0 auto;
  height: $button-height;
  line-height: $button-height;
}

.enter__text {
  margin: 0;
}

.enter__arrow {
    font-size: 19px;
    padding: 20px 0 0px;
}
